<div class="proveedor-page">
  <h1 class="title">Proveedores</h1>
  <p class="subtitle">Escribe aquí el nombre del proveedor</p>

  <div class="search-container">
    <input type="text" placeholder="Search" [(ngModel)]="searchTerm" class="search-input" />
    <span class="search-icon">🔍</span>
  </div>

<div class="proveedor-card" *ngFor="let proveedor of filteredProveedores">
    <img [src]="proveedor.logo" alt="{{ proveedor.nombre }}" class="proveedor-logo" />
    <div class="proveedor-info">
      <p><strong>Nombre:</strong> {{ proveedor.nombre }}</p>
      <p><strong>Teléfono:</strong> {{ proveedor.telefono }}</p>
      <p><strong>Dirección:</strong> {{ proveedor.direccion }}</p>
    </div>
  </div>
</div>
