<ion-content class="home-background" [fullscreen]="true">
  <app-navbar></app-navbar>

  <div class="main-logo-container">
    <img src="assets/logo.webp" alt="Logo Mister Pollo" class="main-logo" />
  </div>

  <div class="bottom-buttons">
    <button class="home-button">Ajustes</button>
    <button class="home-button">Administración del sistema</button>
    <button class="home-button" expand="block" color="danger" (click)="logout()">Cerrar Sesión</button>
  </div>
  <div class="fuego-overlay"></div>
</ion-content>
