.register-background {
    background: linear-gradient(to bottom, #f39c12, #e74c3c);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register-container {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 20px;
    text-align: center;
  }
  